.cart {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
    position: sticky;
    top: 1.5rem;
}

.cart h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 0;
    margin-bottom: 3rem;
}

.cart-info {
    margin-left: 1.5rem;
}

.cart-info p {
    font-size: 1rem;
    color: #2A414F;
}

.cart-info h6 {
    color: #0E161A;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.cart-btn {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    height: 2.5rem;
}

.clear-cart-btn {
    background-color: rgba(255, 48, 48, 1);
}

.clear-cart-btn:hover {
    background-color: red;
}

.review-order-btn {
    background: rgba(255, 153, 0, 1);

}

.review-order-btn:hover {
    background-color: rgb(230, 171, 7);
}